<input type="hidden" name="origin" value="{origin:e}">
<table>
  <tr>
    <td>Origin</td>
    <td>{origin:e}</td>
  </tr>
  <tr>
    <td>Ns</td>
    <td>{ns:e}</td>
  </tr>
  <tr>
    <td>Mailbox</td>
    <td><input type="text" name="mbox" value="{mbox:e}"></td>
  </tr>
  <tr>
    <td>Serial</td>
    <td>{serial:e}</td>
  </tr>
  <tr>
    <td>Refresh</td>
    <td><input type="text" name="refresh" value="{refresh:e}"></td>
  </tr>
  <tr>
    <td>Retry</td>
    <td><input type="text" name="retry" value="{retry:e}"></td>
  </tr>
  <tr>
    <td>Expire</td>
    <td><input type="text" name="expire" value="{expire:e}"></td>
  </tr>
  <tr>
    <td>Minimum</td>
    <td><input type="text" name="minimum" value="{minimum:e}"></td>
  </tr>
  <tr>
    <td>TTL</td>
    <td><input type="text" name="ttl" value="{ttl:e}"></td>
  </tr>
</table>