<input type="hidden" name="zone" value="{zone}">
<table>
  <tr>
    <td>Name</td>
    <td><input type="text" name="name" value="{name:e}"></td>
  </tr>
  <tr>
    <td>Type</td>
    <td>
      <select name="type">
        <!-- BEGIN application.form.options.type -->
        <!-- END application.form.options.type -->
      </select>
    </td>
  </tr>
  <tr>
    <td>Priority</td>
    <td><input type="text" name="aux" value="{aux:e}"></td>
  </tr>
  <tr>
    <td>Data</td>
    <td><input type="text" name="data" value="{data:e}"></td>
  </tr>
  <tr>
    <td>TTL</td>
    <td><input type="text" name="ttl" value="{ttl:e}"></td>
  </tr>
</table>