*.swp
*.o
backend/model/build
backend/model/build.properties
backend/model/runtime-conf.xml
web/config/config.php
web/mpl
Makefile
Makefile.in
configure
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
stamp-h1
